
// Fonts
//@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
//@import "variables";

// Bootstrap
//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.has-notifications {
  color: #f44336 !important;
}

.vt-scroll-bar{
  max-height: 188px;
  overflow: auto;

  &::-webkit-scrollbar {
    width: .5em;
    height: 10px;
  }
  &::-webkit-scrollbar-button {
    background: #2e3254;
  }
  &::-webkit-scrollbar-track-piece {
    background: #eee;
  }
  &::-webkit-scrollbar-thumb {
    background: #2e3254;
  }
}


