
.btn-weekday {
    background-color: #404675;
    color: white;
}

.btn-weekday:hover {
    background-color: #363c6a;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btn-weekday.active {
    background-color: #5CB85C;
    color: #363c6a;

    -webkit-transition-duration: 0.8s; /* Safari */
    transition-duration: 0.8s;

}




